<!DOCTYPE html>
<html>
  
  <head>
    <title>BestPhotos</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <%= yield %>
    <div id="fb-root"></div>

    <!--
      Below we include the Login Button social plugin. This button uses the JavaScript SDK to
      present a graphical Login button that triggers the FB.login() function when clicked. -->

    <fb:login-button show-faces="true" width="200" max-rows="1" data-auto-logout-link="true"></fb:login-button>

  </body>

</html>
